[submodule "lib-image-loaderx"]
	path = lib-image-loaderx
	url = git@github.com:cqTeam/lib-image-loaderx.git
[submodule "lib-androidx-mvvm"]
	path = lib-androidx-mvvm
	url = git@github.com:cqTeam/lib-androidx-mvvm.git
